In [5]:
import sqlite3
# Kết nối đến cơ sở dữ liệu
conn = sqlite3.connect('database.db')
# Tạo một bảng
conn.execute('''CREATE TABLE IF NOT EXISTS employees
                (id INT PRIMARY KEY     NOT NULL,
                name           TEXT    NOT NULL,
                age            INT     NOT NULL,
                address        CHAR(50),
                salary         REAL);''')
# Chèn các bản ghi vào bảng
conn.execute("INSERT INTO employees (id, name, age, address, salary) \
              VALUES (1, 'Nguyễn Văn A', 25, '123 Trần Hưng Đạo, Nam Định', 5000)")
conn.execute("INSERT INTO employees (id, name, age, address, salary) \
              VALUES (2, 'Trần Văn B', 30, '456 Cầu Giấy, Hà Nội', 6000)")
conn.execute("INSERT INTO employees (id, name, age, address, salary) \
              VALUES (3, 'Lê Thị C', 35, '789 Lê Lợi, TP.Hồ Chí Minh', 7000)")

# Lấy tất cả các bản ghi từ bảng
cursor = conn.execute("SELECT id, name, age, address, salary from employees")
for row in cursor:
    print("ID = ", row[0])
    print("Name = ", row[1])
    print("Age = ", row[2])
    print("Address = ", row[3])
    print("Salary = ", row[4])
    print("")
# Đóng kết nối đến cơ sở dữ liệu
conn.close()

ID =  1
Name =  Nguyễn Văn A
Age =  25
Address =  123 Trần Hưng Đạo, Nam Định
Salary =  5000.0

ID =  2
Name =  Trần Văn B
Age =  30
Address =  456 Cầu Giấy, Hà Nội
Salary =  6000.0

ID =  3
Name =  Lê Thị C
Age =  35
Address =  789 Lê Lợi, TP.Hồ Chí Minh
Salary =  7000.0